body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 40px;
    background-image: url(bachground_1.jpg.jpeg);
    background-size:100% 370px;
    background-position: auto;
    background-attachment: fixed;

    
}
.profile img {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 4px solid white;
    margin-bottom: 15px;
    object-fit: cover;
    position: absolute;
    right: 100px;
    top: 60px;
}


nav {
    background-color: #111;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #34cfe4;
   
}

section {
    padding: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 9px 4px 8px 4px gray;
}
#skills .container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    
}

.card {
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s ease;
}

.card:hover {
    transform: scale(1.07);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content {
    background: #dff7f4;
    padding: 25px;
    text-align: center;
}

.card-content h3 {
    margin-bottom: 10px;
    color: #0f2f35;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100000;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.card-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: #0f2f35;
    color: white;
    cursor: pointer;
}

.card-content button:hover {
    background: #0b2226;
    transform: scale(1.07);
}

h2 {
    color: #1e3a8a;
}

ul {
    list-style-type: square;
}
.project {
    background-color: #f0f8ff;
    padding: 20px;
    margin-top: 15px;
    border-left: 5px solid #1e3a8a;
    border-radius: 5px;
}
.project h3 {
    transition: color 0.3s ease;
}

.project:hover h3 {
    color: #007bff;
}
.contact {
    text-align: center;
}
.project {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 4px solid #007bff;
    transition: all 0.3s ease;
}

.project:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.contact input,
.contact textarea {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.contact textarea {
    height: 100px;
}
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    
}